# Homework Sheet - Assignment - Lecture 1

In [9]:
#Question 1

a=b=c=10
print("Value of a is",a, "\nValue of b is",b, "\nValue of c is" ,c)

s=t=u="TechX"
print(s, t, u)

Value of a is 10
Value of b is 10
Value of c is 10
TechX TechX TechX

In [10]:
#Question 2

x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

In [16]:
#Question 3
#d = 100
#d = "Univ"
print(d)

Univ

In [20]:
#Question 4

e = "Jupyter "
f = "Notebook"
print(e+f)

Jupyter Notebook

In [23]:
#Question 5

g = "Test"
h = 5
#print(g+h)

#Python can add 2 varibles of same data type. "TypeError: can only concatenate str (not "int") to str"

In [95]:
#Question 6

Simplify = float(18-6*5/2+4)
ans = round(Simplify,2)
print(ans) 
    #OR
#float(18-6*5/2+4)

#How to display upto 2 decimal places; need to fig out.

7.0

In [29]:
#Question 7

i = float(input("Enter value of i: "))
j = float(input("Enter value of j: "))
print("Sum =", i+j)
print("Difference =", i-j)
print("Product =", i*j)
if j == 0:
    print("Division can't be done")
else:
    print("Quotient =", i/j)

Enter value of i: 0
Enter value of j: 0
Sum = 0.0
Difference = 0.0
Product = 0.0
Division can't be done

In [32]:
#Question 8

Integer = 12
Float = 2.345
String = "Your name"
Complex = 2+3.4j
print("Data type of", Integer, "is", type(Integer))
print("Data type of", Float, "is", type(Float))
print("Data type of", String, "is", type(String))
print("Data type of", Complex, "is", type(Complex))

Data type of 12 is <class 'int'>
Data type of 2.345 is <class 'float'>
Data type of Your name is <class 'str'>
Data type of (2+3.4j) is <class 'complex'>

In [42]:
#Question 9

n1 = 1+2j
n2 = 5+4j
Sum = n1+n2
print(Sum)

(6+6j)

In [46]:
#Question 10

in1 = inputnum1 = input("Enter 1st Number")
in2 = inputnum2 = input("Enter 2nd Number")
print("Type of 1st No.", type(inputnum1))
print("Type of 2nd No.", type(inputnum2))
"""
# Before Type Casting ---> cannot perform any operation

print("Sum =", in1+in2)
print("Difference =", in1-in2)
print("Product =", in1*in2)
if in2 == 0:
    print("Division can't be done")
else:
    print("Quotient =", in1/in2)
print("Exponent =", in1**in2)
print("Modulus =", in1%in2)
print("Floor Division =", in1//in2)"""

in1 = float(in1)
in2 = float(in2)

print("Sum =", in1+in2)
print("Difference =", in1-in2)
print("Product =", in1*in2)
if in2 == 0:
    print("Division can't be done")
else:
    print("Quotient =", in1/in2)
print("Exponent =", in1**in2)
print("Modulus =", in1%in2)
print("Floor Division =", in1//in2)

Enter 1st Number10
Enter 2nd Number2
Type of 1st No. <class 'str'>
Type of 2nd No. <class 'str'>
Sum = 12.0
Difference = 8.0
Product = 20.0
Quotient = 5.0
Exponent = 100.0
Modulus = 0.0
Floor Division = 5.0

In [96]:
in1 = inputnum1 = input("Enter 1st Number")
in2 = inputnum2 = input("Enter 2nd Number")
in1 = float(in1)
in2 = float(in2)
print("Exponent =", in1**in2)
print("Modulus =", in1%in2)
print("Floor Division =", in1//in2)

Enter 1st Number10
Enter 2nd Number12
Exponent = 1000000000000.0
Modulus = 10.0
Floor Division = 0.0

In [47]:
#Question 11

myfiltereddata = "My Filtered Data"

#Camel Case
myFilteredData = "My Filtered Data"

#Pascal Case
MyFilteredData = "My Filtered Data"

#Snake Case
my_filtered_data = "My Filtered Data"

#All are fovourite. I find Snake case little easy to ready since words are seperated by underscore

In [87]:
#Question 12

# Question 12 a) 
# implicit
x = input("Enter value of x : ")
print(type(x))

# Explicit
y = complex(input("Enter value of y : "))
print(type(y))

Enter value of x : jk
<class 'str'>
Enter value of y : j
<class 'complex'>

#Question 12 b)

"""In Implicit casting, system assigns the data type to variable automatically
In Explicit casting, user assigns the data type to varible.

Explicit casting preferred over implicit, since user can define datatypes based on their requirement eliminating ambiguity."""

In [50]:
#Question 13

a = 2
b = 5
print("Value of a ",a)
print("Value of b ",b)
a,b = b,a
print("Value of a after swapping ",a)
print("Value of b after swapping ",b)

Value of a  2
Value of b  5
Value of a after swapping  5
Value of b after swapping  2

In [52]:
#Question 14
# a)
a1 = a2 = a3 = "Same value single line python statement"

# b)
b1,b2,b3 = 10,20,30

print(a1)
print(a2)
print(a3)
print(b1)
print(b2)
print(b3)

Same value single line python statement
Same value single line python statement
Same value single line python statement
10
20
30

In [99]:
#Question 15

l = float(input("Enter 1st variable "))
m = float(input("Enter 2nd variable "))
n = float(input("Enter 3rd variable "))
if l>=m and l>=n:
    print("1st variable ie. l =", l, "is the largest")
elif m>=l and m>=n:
    print("2nd Variable ie. m =", m, "is the largest")
else:
    print("3rd Variable ie. n =", n, "is the largest")

Enter 1st variable 10
Enter 2nd variable 10
Enter 3rd variable 2
1st variable ie. l = 10.0 is the largest

In [102]:
l = float(input("Enter value 1st variable "))
m = float(input("Enter value 2nd variable "))
n = float(input("Enter value 3rd variable "))
largest = max(l,m,n)
print("Largest No. is ", largest)

Enter value 1st variable 100
Enter value 2nd variable -100
Enter value 3rd variable 99
largest No. is  100.0

In [80]:
#Question 16

import math

n = float(input("Enter the no. to find the square root "))
sqrt = math.sqrt(n)
print("Square root of", n, "is", sqrt)

Enter the no. to find the square root225
Square root of 225.0 is 15.0